# Core & Data Handling
pandas
numpy

# Machine Learning
scikit-learn
joblib

# Visualization & UI
streamlit
plotly
matplotlib # Still used by fastf1 for plotting
seaborn # Used by fastf1 for plotting

# F1 Data API
fastf1